<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>生成商品信息</title>
</head>
<body>

<h3>请选择excel文件</h3>

<form action="/excel/upload" enctype="multipart/form-data" method="post">
    <span style="white-space:pre"></span>
    <input type="file" name="file"/>
    <span style="white-space:pre"></span>
    <input type="submit" value="导入"/>
    <span style="white-space:pre"></span>
</form>
</body>
</html>